# List
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]
Allows duplicate members.
=========<br>
# <font color="blue">Liste
<font color="blue">En Python, une liste est une structure de données constituée d'une séquence ordonnée d'éléments modifiables. Chaque élément ou valeur contenu dans une liste est appelé un élément. Tout comme les chaînes de caractères sont définies par des caractères entre guillemets, les listes sont définies par des valeurs entre crochets [ ].
Autorise les membres en double.

In [11]:
# this is an empty list, no item in the list / ceci est une liste vide, aucun élément dans la liste
empty_list = list() 
print(len(empty_list))

0

In [2]:
x = [121, 12, 3, 20, 15, 10, 11,20,30,39,41]
print (x)
print(len(x))

11

In [4]:
# the index of the list starts from 0 / l'index de la liste commence à 0
x[2] # selecting 3rd item of the list / sélection du 3ème élément de la liste

3

In [18]:
x[:4] # selecting 4 items from left to the right/ sélectionner 4 éléments de gauche à droite

[121, 12, 3, 20]

In [19]:
x[6:] # selecting items after the 6th position from left to the right / sélection des éléments après la 6e position de gauche à droite

[11, 20, 30, 39, 41]

In [20]:
x[-4:] # selecting 4 items from right to the left/ sélectionner 4 éléments de droite à gauche

[20, 30, 39, 41]

In [5]:
x[-4: -2]

[20, 30]

In [21]:
x[:-4]# selecting items after the 4th position from right to the left / sélection des éléments après la 4e position de droite a gauche

[121, 12, 3, 20, 15, 10, 11]

In [6]:
# Last index / Dernier index
last_index = len(x) - 1
last_index

10

In [7]:
last_x = x[last_index]

In [8]:
print(last_x)

41

In [26]:
last_x = x[-1]
print(last_x)

41

In [9]:
print("Sum of x is: ", sum(x))

Sum of x is:  322

In [10]:
print("Max value of x is: ", max(x))

Max value of x is:  121

In [11]:
print("Min value of x is:", min(x))

Min value of x is: 3

In [23]:
# 
x[0]*2

242

In [22]:
#
number =[3, 9, 8]

multiple = [ i*2 for i in number]

print(multiple)

[6, 18, 16]

In [19]:
y = x*3
print(y)

[121, 12, 3, 20, 15, 10, 11, 20, 30, 39, 41, 121, 12, 3, 20, 15, 10, 11, 20, 30, 39, 41, 121, 12, 3, 20, 15, 10, 11, 20, 30, 39, 41]

In [20]:
print(len(y))

33

In [25]:
fruits = [2, 'banana', 'orange', 'mango', 'lemon']                     # list of fruits / liste des fruits
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      # list of vegetables / liste de légumes
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             # list of animal products / liste des produits d'origine animale
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Django', 'MongDB'] # liste des technologies Web
countries = ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway'] # List of countries / Liste des pays

In [26]:
print(fruits)

[2, 'banana', 'orange', 'mango', 'lemon']

In [28]:
# Slicing / Tranchage
orange_and_mango = fruits[1:3] # it does not include the end index / il n'inclut pas l'index de fin
print(orange_and_mango)

['orange', 'mango']

In [29]:
# Replacing an item in the list / Remplacement d'un élément dans la liste
fruits = ['banana', 'orange', 'mango', 'lemon'] 
fruits[0] = 'Avocado' 
print(fruits)

['Avocado', 'orange', 'mango', 'lemon']

In [30]:
last_index = len(fruits) - 1
fruits[last_index] = 'lime'
print(fruits)

['Avocado', 'orange', 'mango', 'lime']

In [32]:
# checking items / vérification des éléments
fruits = ['banana', 'orange', 'mango', 'lemon']
does_exist = 'banana' in fruits
print(does_exist)  # True
does_exist = 'lime' in fruits
print(does_exist)  # False

True
False

In [39]:
# Append takes only one argument / Append ne prend qu'un seul argument en utlisant append()
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.append('apple')
print("Fruit after first append\n",fruits)           
fruits.append('lime')   
print("Fruit after second append\n",fruits)

Fruit after first append
 ['banana', 'orange', 'mango', 'lemon', 'apple']
Fruit after second append
 ['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']

In [35]:
# insert
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.insert(2, 'apple') # insert apple between orange and mango / insérer la pomme entre l'orange et la mangue
print(fruits)           
fruits.insert(3, 'lime')   # insert apple between mango and lemon / insérer la pomme entre la mangue et le citron
print(fruits)

['banana', 'orange', 'apple', 'mango', 'lemon']
['banana', 'orange', 'apple', 'lime', 'mango', 'lemon']

In [47]:
# remove / retirer en utilisant remove()
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.remove('banana')
print(fruits)

['orange', 'mango', 'lemon']

In [65]:
# The del keyword removes the specified index and it can also be used to delete items within index range. It can also delete the list completely
# Le mot-clé del supprime l'index spécifié et permet également de supprimer des éléments dans la plage d'index. Il peut également supprimer complètement la liste.
fruits = ['banana', 'orange', 'mango', 'lemon']
del fruits[0]     
print(fruits)

['orange', 'mango', 'lemon']

In [37]:
# The clear() method empties the list / La méthode clear() vide la liste
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.clear()     
print(fruits)

[]

In [50]:
# copying a lits / copier une liste

fruits = ['banana', 'orange', 'mango', 'lemon']
fruits_copy = fruits.copy()     
print(fruits_copy)

['banana', 'orange', 'mango', 'lemon']

In [51]:
# join allows us to put multiple lists into one list / join nous permet de mettre plusieurs listes dans une seule liste
positive_numbers = [1, 2, 3,4,5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [53]:
fruits_and_vegetables = fruits + vegetables
#print(fruits_and_vegetables )

In [44]:
#Increasing the observations in a list, you can put as many new elements as you want
# En augmentant les observations dans une liste, vous pouvez mettre autant de nouveaux éléments que vous le souhaitez
x.extend([11,22, 55, 100])
x

[121,
 12,
 3,
 20,
 15,
 10,
 11,
 20,
 30,
 39,
 41,
 11,
 22,
 11,
 22,
 55,
 100,
 11,
 22,
 55,
 100,
 11,
 22,
 55,
 100,
 11,
 22,
 55,
 100,
 11,
 22,
 55,
 100]

In [45]:
# join with extend
num1 = [0, 1, 2, 3]
num2= [4, 5,6]
num2.extend(num1)
print('Numbers:', num2)

Numbers: [4, 5, 6, 0, 1, 2, 3]

In [56]:
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]

negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
#print('Integers:', negative_numbers)

In [57]:
# The count() method returns the number of times an item appears in a list
# La méthode count() renvoie le nombre de fois qu'un élément apparaît dans une liste.
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.count('orange')) 
ages = [22, 19, 24, 25, 26, 24, 25, 24, 30, 24, 55]
print(ages.count(24))

1
4

In [59]:
# index allows us to get the index of an item in a list / index nous permet d'obtenir l'index d'un élément dans une liste
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.index('orange'))
ages = [22, 19, 24, 25, 26, 24, 25, 24, 30, 24, 55]
print(ages.index(24))

1
2

In [60]:
# Reverse 
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits)

['lemon', 'mango', 'orange', 'banana']

In [62]:
ages = [22, 19, 24, 25, 26, 24, 25, 24, 30, 24, 55]
ages.reverse()
print(ages)

[55, 24, 30, 24, 25, 24, 26, 25, 24, 19, 22]

In [63]:
# sort helps order items in a list / le tri permet d'ordonner les éléments d'une liste
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits) 
fruits.sort(reverse=True)
print(fruits)

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']

In [64]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages) 
ages.sort(reverse=True)
print(ages)

[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]