# Tuple
is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members.

# <font color='blue'>Tuple
<font color='blue'>est une collection ordonnée et immuable. Les membres peuvent être dupliqués.

In [13]:
# this is an empty tuple / c'est un tuple vide
empty_tuple = list() 
print(len(empty_tuple))

0

In [14]:
# Tuple with initial values / Tuple avec valeurs initiales
tpl = ('item1', 'item2','item3')

In [15]:
fruits = ('banana', 'orange', 'mango', 'lemon')
fruits

('banana', 'orange', 'mango', 'lemon')

In [16]:
print(fruits)

('banana', 'orange', 'mango', 'lemon')

In [17]:
# We use the len() method to get the length of a tuple./ Nous utilisons la méthode len() pour obtenir la longueur d'un tuple.
tpl = ('item1', 'item2', 'item3')
len(tpl)

3

In [18]:
# Positive Indexing Similar to the list data type we use positive or negative indexing to access tuple items.
# Indexation positive Similaire au type de données de liste, nous utilisons une indexation positive ou négative pour accéder aux éléments de tuple.
tpl = ('item1', 'item2', 'item3')
first_item = tpl[0]
second_item = tpl[1]
print("First item: ",first_item)
print("Second item: ",second_item)

First item:  item1
Second item:  item2

In [22]:
fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[0]
second_fruit = fruits[1]
last_index =len(fruits) - 1
last_fruit = fruits[last_index]
print(last_index)
print(last_fruit)

3
lemon

In [1]:
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last and the negative of the list/tuple length refers to the first item.
# L'indexation négative signifie commencer par la fin, -1 fait référence au dernier élément, -2 fait référence à l'avant-dernier et le négatif de la longueur de la liste/tuple fait référence au premier élément.
fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[-4]

second_fruit = fruits[-3]

last_fruit = fruits[-1]
print(second_fruit)

orange

In [2]:
# We can slice out a sub-tuple by specifying a range of indexes where to start and where to end in the tuple, the return value will be a new tuple with the specified items.
# Nous pouvons découper un sous-tuple en spécifiant une plage d'index où commencer et où terminer dans le tuple, la valeur de retour sera un nouveau tuple avec les éléments spécifiés.
fruits = ('banana', 'orange', 'mango', 'lemon')
all_items = fruits[0:4]         # all items / tous les objets
all_items = fruits[0:]         # all items / tous les objets
middle_two_items = fruits[1:3]  # does not include item at index 3 / n'inclut pas l'élément à l'index 3
print(all_items)
print(middle_two_items)

('banana', 'orange', 'mango', 'lemon')
('orange', 'mango')

In [3]:
fruits = ('banana', 'orange', 'mango', 'lemon')
all_fruits = fruits[-4:]    # all items / tous les objets
orange_mango = fruits[-3:-1]  # doesn't include item at index 3 / n'inclut pas l'élément à l'index 3
orange_to_the_rest = fruits[-3:]
print(orange_mango)
print(all_fruits)
print(all_fruits)
print(orange_to_the_rest )

('orange', 'mango')
('banana', 'orange', 'mango', 'lemon')
('banana', 'orange', 'mango', 'lemon')
('orange', 'mango', 'lemon')

In [7]:
# We can change tuples to lists and lists to tuples. Tuple is immutable if we want to modify a tuple we should change it to a list.
# Nous pouvons transformer des tuples en listes et inversement. Un tuple est immuable : pour le modifier, il faut le transformer en liste.
fruits = ('banana', 'orange', 'mango', 'lemon')
fruits = list(fruits)

fruits[0] = 'apple'
print(fruits)  
fruits = tuple(fruits)
print(fruits)

('apple', 'orange', 'mango', 'lemon')

In [8]:
# We can check if an item exists or not in a tuple using in, it returns a boolean.
# Nous pouvons vérifier si un élément existe ou non dans un tuple en utilisant in, il renvoie un booléen.
fruits = ('banana', 'orange', 'mango', 'lemon')
print('orange' in fruits)
print('apple' in fruits)
fruits[0] = 'apple'

True
False

TypeError: 'tuple' object does not support item assignment

In [24]:
# We can join two or more tuples using + operator
# Nous pouvons joindre deux ou plusieurs tuples en utilisant l'opérateur +
fruits = ('banana', 'orange', 'mango', 'lemon')
vegetables = ('Tomato', 'Potato', 'Cabbage','Onion', 'Carrot')
fruits_and_vegetables = fruits + vegetables
print(fruits_and_vegetables)

('banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot')

In [9]:
# It is not possible to remove a single item in a tuple but it is possible to delete the tuple itself using del.
# Il n'est pas possible de supprimer un seul élément dans un tuple, mais il est possible de supprimer le tuple lui-même en utilisant del.
fruits = ('banana', 'orange', 'mango', 'lemon')
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [1]:
x = (1,3,6)

In [6]:
print("Sum of x: ", sum(x))
print("Maximum of x: ", max(x))
print("Minimum of x: ", min(x))

Sum of x:  10
Maximum of x:  6
Minimum of x:  1

In [7]:
2*x

(1, 3, 6, 1, 3, 6)

In [9]:
for i in x:
    print(i*2)

2
6
12

In [10]:
for i in x:
    print(i%2)

1
1
0

In [11]:
(age, income, kids) = "34:120670:1".split(':')

print("The age of the person is: ", age)
print("Household income is: ", income)
print ("Number of children in the household: ", kids)

The age of the person is:  34
Household income is:  120670
Number of children in the household:  1

### Exercise
<ol>
<li>Create an empty tuple</li>
<li>Create a tuple containing names of your colleagues (imaginary colleagues are fine)</li>
<li> Join female and male colleagues tuples and assign it to colleagues
<li>How many colleagues do you have?</li>
<li>Modify the colleagues tuple and add the name of your managers and MD and assign it to company_employees</li>
</ol>

=========<br>
### <font color='blue'>Exercice
<ol>
<font color='blue'><li>Créez un tuple vide</li>
<font color='blue'><li>Créez un tuple contenant les noms de vos collègues (des collègues imaginaires conviennent)</li>
<font color='blue'><li>Joignez les tuples des collègues féminins et masculins et attribuez-les à des collègues.
<font color='blue'><li>Combien de collègues avez-vous ?</li>
<font color='blue'><li>Modifiez le tuple des collègues, ajoutez le nom de vos responsables et de votre directeur général et attribuez-le à company_employees.</li>
</ol>

### Exercise 2
<ol>
<li>Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.</li>
<li>Change the about food_stuff_tp tuple to a food_stuff_lt list</li>
<li>Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.</li>
<li>Slice out the first three items and the last three items from food_staff_lt list</li>
<li>Delete the food_staff_tp tuple completely</li>
</ol>
=========<br>

### <font color='blue'>Exercice 2
<ol>
<font color='blue'><li>Créez des tuples de fruits, légumes et produits animaux. Joignez les trois tuples et affectez-les à une variable appelée food_stuff_tp.</li>
<font color='blue'><li>Transformez le tuple about food_stuff_tp en une liste food_stuff_lt.</li>
<font color='blue'><li>Supprimez le ou les éléments du milieu du tuple food_stuff_tp ou de la liste food_stuff_lt.</li>
<font color='blue'><li>Supprimez les trois premiers et les trois derniers éléments de la liste food_staff_lt.</li>
<font color='blue'><li>Supprimez complètement le tuple food_staff_tp.</li>
</ol>